<div class="card">
  <div class="card-header text-white bg-primary">
    <h4 style="display: inline-block;">Details</h4>
    <button style="float: right;" class="btn btn-danger" (click)="signOut();">Sign out</button>
  </div>
  <div class="card-body">
    <div class="row">
      <div *ngIf="account" class="col-3">
        <div class="card">
          <div align="center">
            <div class="image-upload">
              <label for="file-input">
                <img class="img-fluid" [src]="account.hasPhoto ? '/api/Accounts/GetPhoto' :
                  '/assets/images/default-avatar.png'" />
              </label>

              <input *ngIf="id === 0" style="display: none;" id="file-input" type="file" (change)="fileChange($event)" accept=".png,.jpg"
              />
            </div>
          </div>

          <br />

          <dl>
            <dt>Name: </dt>
            <dd>{{ account.name }}</dd>
            <dt>Surname: </dt>
            <dd>{{ account.surname }}</dd>
            <dt>Email: </dt>
            <dd>{{ account.email }}</dd>
            <dt>Country: </dt>
            <dd>{{ account.country?.title }}</dd>
          </dl>
        </div>
      </div>
      <div class="col-6">
        <div class="card card-default">
          <div class="card-body">
            <div contenteditable="true" style="display: inline-block; width: 80%;">
              {{ userStatus }}
            </div>
            <button style="float: right;" type="button" (click)="saveStatus();" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span> Save
            </button>
          </div>
        </div>
        <div id="Notifications">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <hr />
        <div *ngIf="id === 0">
          <div class="row">
            <div class="col-9">
              <input type="text" class="form-control" [(ngModel)]="newPost.content" #post="ngModel" id="post" name="post" placeholder="What's new?"
                autocomplete="off" />
            </div>
            <div class="col-3">
              <button (click)="sendPost();" class="btn btn-outline-primary" style="float: right;">Send</button>
            </div>
          </div>
        </div>
        <br />
        <div class="list-group">
          <a *ngFor="let post of account?.Posts" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"></h5>
              <small>{{ post.createdTime }}
                <div *ngIf="id === 0" class="btn btn-danger btn-sm" (click)="deletePost(post);">X</div>
              </small>
            </div>
            <p class="mb-1">{{ post.content }}</p>
            <small></small>
          </a>
        </div>
      </div>
      <div class="col-3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">
            <a class="btn" routerLink="/Search">Search user</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a class="btn" routerLink="/Dialogs">Dialogs <span class="badge badge-dark">{{ unreadedMessagesCount }}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>